.signup_contatiner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.signup_content {
    width: 70%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 40px;
}

.signup_heading {
    flex: 1;
}

.signup_heading h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.signup_heading h5{
    color: #aaa;
}

.signup_heading a{
    color: var(--color-primary);
    text-decoration: none;
}

.signup_form {
    flex: 2;
    width: 70%;
    height: 100%;
}

.signup_form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 20px;

}

.signup_form_name {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    overflow-y: hidden;
}

.signup_input {
    height: 55px;
    width: 100%;
    background-color: transparent;
    border: 1.5px solid gray;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
    transition: border .5s ease;
    margin-bottom: 20px;
}

.signup_password_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    border: 1.5px solid gray;
    border-radius: 5px;
    padding: 0px 5px;
    transition: border .5s ease;
    margin-bottom: 20px;
}

.signup_password_container_active {
    border-color: var(--color-primary);
    transition: all .5s ease;
}

.signup_password_container svg{
    cursor: pointer;
}

.signup_password_container input {
    border: none;
    outline: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.signup_load_icon {
    margin:  0 auto;
    overflow-y: hidden;
}


.signup_form button {
    height: 60px;
    background-color: purple;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    transition: all .5s ease;
}

.signup_form button:hover {
    background-color: rgb(148, 48, 148);
}

.signup_form form input:focus {
    border-color: var(--color-primary);
}

@media screen and (max-width: 850px) {
    .signup_content {
        width: 100%;
    }

    .signup_heading {
        text-align: center;
        flex: none;
    }

    .signup_heading h1 {
        font-size: 37px;
    }

    .signup_form {
        flex: none;
        width: 100%;
    }

    .signup_form_name {
        flex-direction: column;
    }
}
