
.pricing_card {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #1a1a1a;
    padding: 20px;
}

.price_card_type {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.price_card_type h1 {
    font-size: 20px;
}

.price_card_charge {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_card_charge h3 {
    font-size: 40px;
} 

.price_card_charge p {
    margin-left: 10px;
    color: gray;
}

.price_card_package {
    flex: 3;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
    background-color: #262626;
    border-radius: 10px;
}

.price_card_package ul{
    display: flex;
    padding-left: 3px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 80%;
    width: 100%;
    margin-bottom: 20px;
}

.price_card_package ul li {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.price_card_package ul svg {
    fill: yellow;
    
}

.price_card_package a {
    background-color: var(--color-primary);
    width: 60%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 30px;
    color: black;
    transition: all .5s ease-in-out;
}

.price_card_package a:hover {
    background-color: #8a50fd;
    transform: scale(1.2);
    color: white;
}

.price_card_package form {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_card_package form button {
    background-color: var(--color-primary);
    width: 60%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 30px;
    color: black;
    transition: all .5s ease-in-out;
}

.price_card_package form button:hover {
    background-color: #8a50fd;
    transform: scale(1.2);
    color: white;
}